<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>music</key>
		<string>alarm_clock_ringing.wav</string>
		<key>name</key>
		<string>闹铃声音</string>
	</dict>
	<dict>
		<key>music</key>
		<string>card_reader_alarm.wav</string>
		<key>name</key>
		<string>卡读写器报警</string>
	</dict>
	<dict>
		<key>music</key>
		<string>church_bells.wav</string>
		<key>name</key>
		<string>教堂的钟声</string>
	</dict>
	<dict>
		<key>music</key>
		<string>police.wav</string>
		<key>name</key>
		<string>警笛</string>
	</dict>
	<dict>
		<key>music</key>
		<string>baby_crying.wav</string>
		<key>name</key>
		<string>婴儿的哭声</string>
	</dict>
	<dict>
		<key>music</key>
		<string>Background_Alarm_cut.m4a</string>
		<key>name</key>
		<string>滴滴声</string>
	</dict>
	<dict>
		<key>music</key>
		<string>weak_up.caf</string>
		<key>name</key>
		<string>起床铃声</string>
	</dict>
	<dict>
		<key>music</key>
		<string>sumsung.caf</string>
		<key>name</key>
		<string>三星优美铃声</string>
	</dict>
	<dict>
		<key>music</key>
		<string>dream.caf</string>
		<key>name</key>
		<string>梦幻</string>
	</dict>
	<dict>
		<key>music</key>
		<string>dog.caf</string>
		<key>name</key>
		<string>懒猪起床</string>
	</dict>
	<dict>
		<key>music</key>
		<string>interesting.caf</string>
		<key>name</key>
		<string>超有趣</string>
	</dict>
	<dict>
		<key>music</key>
		<string>bulu.caf</string>
		<key>name</key>
		<string>布谷鸣叫声</string>
	</dict>
	<dict>
		<key>music</key>
		<string>dingling.caf</string>
		<key>name</key>
		<string>叮呤声</string>
	</dict>
	<dict>
		<key>music</key>
		<string>Old School Clock.m4a</string>
		<key>name</key>
		<string>老学校钟声</string>
	</dict>
	<dict>
		<key>music</key>
		<string>School Bell.m4a</string>
		<key>name</key>
		<string>上课铃声</string>
	</dict>
	<dict>
		<key>music</key>
		<string>British Ambulance.m4a</string>
		<key>name</key>
		<string>大不列癫</string>
	</dict>
	<dict>
		<key>music</key>
		<string>Air Raid.m4a</string>
		<key>name</key>
		<string>防空声</string>
	</dict>
	<dict>
		<key>music</key>
		<string>Burglar Alarm.m4a</string>
		<key>name</key>
		<string>电器声</string>
	</dict>
	<dict>
		<key>music</key>
		<string>Siren.m4a</string>
		<key>name</key>
		<string>汽笛声</string>
	</dict>
	<dict>
		<key>music</key>
		<string>Spaceship.m4a</string>
		<key>name</key>
		<string>宇宙飞船</string>
	</dict>
	<dict>
		<key>music</key>
		<string>Techy.m4a</string>
		<key>name</key>
		<string>技术学院</string>
	</dict>
	<dict>
		<key>music</key>
		<string>Ocean Waves.m4a</string>
		<key>name</key>
		<string>海浪声</string>
	</dict>
</array>
</plist>
